81/Sitecore.Commerce.Dynamics.Promotions.Endpoint/Service References/PromotionService/SCPromo6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cu10:8101/DynamicsAx/Services/SCPromo?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="SCPromotionServiceGetItemDiscountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:long" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="promotionQueryContract" nillable="true" type="q1:ArrayOfSCPromotionLineQueryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCPromotionServiceGetItemDiscountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfSCPromotionLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCPromotionServiceGetAllDiscountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCPromotionServiceGetAllDiscountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfSCPromotionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>