81/Sitecore.Commerce.Dynamics.Promotions.Endpoint/Service References/PromotionService/SCPromo5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cu10:8101/DynamicsAx/Services/SCPromo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="SCPromotionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmConcurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDisclaimer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDiscountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPriceDiscount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPromotionType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCPromotionContract" nillable="true" type="tns:SCPromotionContract" />
  <xs:complexType name="SCPromotionLineContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmItemRecId" type="xs:long" />
          <xs:element minOccurs="0" name="parmPriceDiscount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPromotionType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCPromotionLineContract" nillable="true" type="tns:SCPromotionLineContract" />
  <xs:complexType name="SCPromotionLineQueryContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmItemRecId" type="xs:long" />
          <xs:element minOccurs="0" name="parmVariantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCPromotionLineQueryContract" nillable="true" type="tns:SCPromotionLineQueryContract" />
  <xs:complexType name="ArrayOfSCPromotionLineQueryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCPromotionLineQueryContract" nillable="true" type="tns:SCPromotionLineQueryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCPromotionLineQueryContract" nillable="true" type="tns:ArrayOfSCPromotionLineQueryContract" />
  <xs:complexType name="ArrayOfSCPromotionLineContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCPromotionLineContract" nillable="true" type="tns:SCPromotionLineContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCPromotionLineContract" nillable="true" type="tns:ArrayOfSCPromotionLineContract" />
  <xs:complexType name="ArrayOfSCPromotionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCPromotionContract" nillable="true" type="tns:SCPromotionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCPromotionContract" nillable="true" type="tns:ArrayOfSCPromotionContract" />
</xs:schema>